$col-bright-gray:#BCB6B7;
$col-gray:#D4D4D4;
$col-mid-gray :#BDBCBC;
$col-dark-gray:#838383;
$col-bg:#E9EDF0;
$col-mid-black:#6C6E70; 
$col-blue:#17438B;
$col-1:#872659;
$col-2: #9E5279;
$col-3: #fff;
$col-4: #DABECD;
$col-5: #FCF59B;
$col-6: #8C8C8D;
$col-7: #A5A4A4;
$col-8: #842858;
$col-9: #F8FFFF;
$col-0: #000;

