@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------
// text-style -------------------------------------------
.text-check-title{
  @include mixin.font(1.7rem, 600, var.$col-3);
  line-height: 2;
  letter-spacing: 0.5px;
}

.partial-col{
  color: var.$col-1;
}

.mgfp-explain-title{
  @include mixin.font(1.5rem, 600, var.$col-3);
  line-height: 2;
  letter-spacing: 1px;
}

.col-green{
  color: #62BA4A;
}

.review-box{
  color: #036EB7;
  @include mixin.border(1px, #036EB7,5px);
}

.col-violet{
  background-color: #CBCBE5;
}

.col-yellow-green{
  background-color: #D1E6C5;
}

.col-pink{
  background-color: #E7D3DE;
}

.text-col-violet{
  color: var.$col-1;
}

.strong{
  font-weight: 800;
}

.txt-deco{
  text-emphasis: filled;
}

.ingredient-font-big{
  @include mixin.font(1rem, 600);
}

.ingredient-font-small{
  @include mixin.font(0.9rem, 600);
}

.qa-title{
  font-family: 'Almarai';
  @include mixin.font(1.5rem, 800);
}

.qa-num{
  font-family: 'Poppins';
  letter-spacing: 2px;
}

.recommend-light-blue{
  font-weight: 700;
  color: #338EB2;
  letter-spacing: 1px;
}

.recommend-blue{
  font-weight: 700;
  color: #17438B;
  letter-spacing: 1px;
}

.recommend-purple{
  font-weight: 700;
  color: var.$col-1;
  letter-spacing: 1px;
}

.recommend-gold{
  font-weight: 700;
  color: #D2A05C;
  letter-spacing: 1px;
}
// -------------------------------------------
@media(min-width:500px){

  #root-mgfp{
    @include mixin.container-style(100vw, 18000px, space-between, center, column);
  }

  .mgfp1{
    @include mixin.container-style(600px, 1230px, space-around, center, column);
    &>div:first-child{
      &>div{
        @include mixin.font(1.5rem, 500, var.$col-3);
      }
    }
    &>div:last-child{
      &>div:nth-child(1){
        @include mixin.font(3rem, 800, var.$col-3);
      }
      &>div:nth-child(2){
        @include mixin.font(1rem, 600, var.$col-6);
      }
    }
  }

  .mgfp2{
    @include mixin.container-style(600px, 1440px, space-around, center, column);
    &>div:first-child{
      &>div:nth-child(1){
        @include mixin.font(1.8rem, 600, var.$col-3);
      }
  
      &>div:last-child{
        @include mixin.font(0.9rem, 600, var.$col-3);
        letter-spacing: 1.5px;
      }
    }
  
    &>div:last-child{
      &>div:nth-child(1){
      &>div:first-child{
        @include mixin.font(1.2rem, 600);
      }
      &>div:last-child{
        @include mixin.font(1.6rem, 800);
        line-height: 1.8;
      }
    }
      &>div:nth-child(2){
      @include mixin.container-style(85%, 60%, flex-start, center);
  
      &>img{
        @include mixin.size(420px, auto);
      }
  
      &>div{
        @include mixin.container-style(10%, 420px, flex-start, center);
        @include mixin.font(1rem,500);
        letter-spacing: 1.5px;
      }
    }
    }
  }

  .check-point{
    &>div{
      @include mixin.container-style(95%, 30%, space-around, center);
    }
  
    @for $i from 1 through 3{
      &>div:nth-child(#{$i}){
        &>img{
          @include mixin.size(80px, 80px);
        }
  
        &>div{
          @include mixin.container-style(70%, 100%, space-evenly, flex-start, column);
          
          &>div:first-child{
            @include mixin.font(1.2rem, 800, var.$col-1);
          }
  
          &>div:last-child{
            @include mixin.container-style(100%, 55%, flex-start, center);
            @include mixin.font(0.95rem, 600);
            line-height: 1.8;
          }
        }
      }
    }
  
    &>img{
      @include mixin.size(150px,auto);
      @include mixin.posi(absolute, 3%, 88%);
      transform: rotate(5deg);
    }
  }

  .brand-story{
    @include mixin.container-style(600px, 1800px, space-around, center, column);

    // border: solid black 2px;
  
    &>div:first-child{
      @include mixin.container-style(100%, 660px, center, center, column);
      
      &>div:nth-child(1){
        &>p{
          @include mixin.size(90%, 40%);
          @include mixin.posi(absolute, 180px, 20px);
          @include mixin.font(1.1rem, 600);
        }
      }
      &>img{
        @include mixin.size(100%, 165px);
      }
    }
  
    &>div:last-child{
      @include mixin.container-style(100%,1140px,space-evenly,center,column);
      &>div:first-child{
        &>div:nth-child(1){
          &>div:first-child{
            @include mixin.container-style(30%,100%,center,center);
            @include mixin.font(1.3rem, 600);
          }
          &>div:last-child{
            @include mixin.container-style(70%,10%,center,center);
          }
        }
  
        &>div:nth-child(2){
          &>div:first-child{
            @include mixin.font(1.2rem, 600, var.$col-3);
          }
        }
  
        &>div:nth-child(3){
          &>div:first-child{
            @include mixin.box-style(80%,2%, var.$col-1);
          }
  
          &>div:last-child{
            @include mixin.font(1.1rem, 700);
          }
        }
      }
    }
  }
  
  .brand-mid-bot{
    &>div:first-child{
      @for$i from 1 through 3{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(130px, 130px, center, center);
          @include mixin.font(1rem, 800);
        }
      }
  
      &>div:nth-child(1){
        @include mixin.posi(absolute,0,0,0);
      }
  
      &>div:nth-child(2){
        @include mixin.posi(absolute,0,100px,1);
      }
  
      &>div:nth-child(3){
        @include mixin.posi(absolute,0,200px,2);
      }
  
      &>div:nth-child(4){
        @include mixin.box-style(20%,2%, var.$col-1);
        @include mixin.posi(absolute,65px,320px,4);
      }
  
      &>div:nth-child(5){
        @include mixin.container-style(130px, 130px, center, center);
        @include mixin.font(1rem, 800);
        @include mixin.posi(absolute,0,400px,3);
      }
    }
  
    &>div:last-child{
      &>div{
        @include mixin.font(1rem, 600);
      }
    }
  }
  
  .brand-story-bot{
    &>div:first-child{
      &>img{
        @include mixin.box-style(140px, 140px, var.$col-3, 50%);
      }
      &>div{
        @include mixin.font(1.1rem, 700);
      }
    }
  
    &>div:last-child{
      @include mixin.container-style(100%,45%,space-around,center,column);

      &>div:first-child{
        @include mixin.container-style(95%,85%,center,center);
        &>p{
          @include mixin.font(1rem, 800);
          line-height: 2;
        }
      }
    }
  }

  .add-explain{
    @include mixin.add-explain(90%,40px,0.9rem);
  }

  .mgfp3{
    @include mixin.container-style(600px, 1000px, space-around, center, column);
  
    &>div:first-child{
    @include mixin.container-style(100%, 30%, center, center,column);

      &>div:nth-child(1){
        @include mixin.container-style(85%, 15%, space-evenly,center);
        &>div{
          @include mixin.font(1.1rem, 600,var.$col-3);
          letter-spacing: 2px;
        }
      }
  
      &>div:nth-child(2){
        @include mixin.container-style(85%, 50%, flex-end,flex-start,column);
        &>div:nth-child(1){
          @include mixin.font(1.5rem,700);
        }
        &>div:nth-child(2){
          @include mixin.font(2rem,800);
        }
      }
    }
  
    &>div:last-child{
      @include mixin.container-style(100%, 60%, space-around, center,column);
    }
  }
  
  .mgfp3-bot{
    &>img{
      @include mixin.size(160px,auto);
      @include mixin.posi(absolute,10%,38%,0);
    }
    &>div{
      @include mixin.size(33%,45%);
      &>img{
        @include mixin.box-style(140px,140px,var.$col-3,50%);
      }
      &>div{
        @include mixin.font(0.9rem, 700);
      }
    }
    &>div:nth-child(1){
      @include mixin.posi(absolute,10%,10%,1);
    }
    &>div:nth-child(2){
      @include mixin.posi(absolute,30%,57%,1);
    }
    &>div:nth-child(3){
      @include mixin.posi(absolute,55%,10%,1);
    }
  }

  .mgfp4{
    @include mixin.container-style(600px, 2160px, space-around, center, column);
  
    &>div:first-child{
      &>div:first-child{
        @include mixin.container-style(100%,4%, center, center);
        @include mixin.font(1.5rem, 600, var.$col-3);
      }
      &>div:nth-child(2){
        &>div{
          &>div:last-child{
            @include mixin.font(2rem, 800);
            line-height: 2;
          }
        }
    
        &>img{
          @include mixin.size(400px,auto);
        }
      }
    }
  }
  
  .mgfp4-top{
    &>div:last-child{
      &>div:nth-child(1){
        @include mixin.container-style(80%,25%,flex-start,flex-start);
        &>p{
          @include mixin.font(1.1rem,700);
          line-height: 2;
          letter-spacing: 1px;
        }
      }
      &>div:nth-child(2){
        @include mixin.border(5px,var.$col-1, 20px);
        &>p:nth-child(1){
          @include mixin.font(1.5rem,700);
        }
        &>p:nth-child(2){
          @include mixin.font(1.1rem,700);
        }
      }
      &>div:nth-child(3){
          letter-spacing: 1px;
          @include mixin.add-explain(90%,5%,0.9rem);
      }
    }
  }
  
  .sub{
    @include mixin.font(0.4rem,700);
    @include mixin.posi(relative,-8px);
  }
  
  .point-box{
    @include mixin.point-box(100px, 40px, 3px, var.$col-1, 10px);
    @include mixin.font(1rem, 800);
  }
    
  .mgfp4-bot{
    &>div:nth-child(1){
      @include mixin.container-style(90%, 40%,space-between,center,column);
      &>div{
        @include mixin.font(1.2rem, 700);
        line-height: 1.8;
      }
    }
    
    &>div:nth-child(2){
      @include mixin.container-style(90%, 45%,space-around,center,column);
      &>div{
        @include mixin.container-style(100%,85%,space-between,center);
  
        &>img{
          @include mixin.box-style(140px, 140px,var.$col-3, 50%);
          border: 3px solid var.$col-1;
        }
  
        &>div{
          &>div:nth-child(1){
            @include mixin.font(1.2rem, 800,var.$col-1);
          }
    
          &>div:nth-child(2){
            @include mixin.font(0.9rem, 600,var.$col-6);
          }
    
          &>div:nth-child(3){
            @include mixin.font(0.9rem, 700);
          }
        }
      }
    }
  
    &>div:nth-child(3){
      @include mixin.add-explain(90%,5%,0.9rem);
    }
  }

  .mgfp5{
    @include mixin.container-style(600px, 1440px, space-evenly, center, column);
    &>div:nth-child(1){
      &>div{
        &>div:last-child{
          @include mixin.font(2rem, 800);
        }
      }
    }
  }
  
  .mgfp5-bot{
    &>div:first-child{
      &>div:first-child{
        @include mixin.container-style(55%, 25%, flex-start, center);
        @include mixin.font(1.5rem, 700);
        letter-spacing: 1.5px;
      }
      &>div:last-child{
        @include mixin.font(1rem, 700);
      }
    }
  
    &>div:last-child{
      @include mixin.container-style(90%, 55%,space-around, center, column);
      &>div:nth-child(1){
        @include mixin.container-style(95%,70%,space-between,center);
        &>div{
          @include mixin.container-style(65%,100%,center,center,column);
          &>div:nth-child(1){
            @include mixin.font(1.2rem, 800,var.$col-1);
          }
          &>div:nth-child(2){
            @include mixin.font(0.9rem, 600,var.$col-6);
          }
          &>div:nth-child(3){
            @include mixin.font(0.9rem, 800);
          }
        }
        &>img{
          @include mixin.box-style(180px, 180px,var.$col-3, 50%);
          border: 3px solid var.$col-1;
        }
      }
      &>div:nth-child(2){
        @include mixin.add-explain(95%,5%,0.9rem);
      }
    }
  }

  .mgfp6{
    @include mixin.container-style(600px, 2600px, space-evenly, center, column);
    &>div:nth-child(1){
      &>div:first-child{
        &>div:last-child{
          @include mixin.font(2rem, 800);
        }
      }
  
      &>div:last-child{
        &>img{
          @include mixin.size(85%, auto);
        }
        &>div{
          @include mixin.container-style(90%, 25%, center,center,column);
          &>div{
            @include mixin.font(1.2rem,700);
          }
        }
      }
    }
    &>div:nth-child(4){
      &>div{
        &>div{
          @include mixin.font(1.2rem,800);
        }
      }
    }
  }
  
  .mgfp6-2{
    &>div:first-child{
      @include mixin.container-style(82%, 25%,flex-start,center);
      @include mixin.font(1.1rem,800);
    }
    &>div:last-child{
      @include mixin.font(1.8rem,800,var.$col-1);
    }
  }
  
  .mgfp6-3{
    &>div:nth-child(1){
      &>div{
        @include mixin.font(1.5rem,800);
        line-height: 1.8;
      }
    }
  
    &>div:nth-child(2){
      &>div:first-child{
        @include mixin.font(1.2rem,800,var.$col-1);
      }
      &>div:last-child{
        &>p{
          @include mixin.font(1.1rem,600);
        }
        &>div{
          @include mixin.font(1rem,600,var.$col-6);
        }
      }
    }
  }

  .mgfp7{
    @include mixin.container-style(600px, 1500px,space-around, center, column);
    &>div:nth-child(1){
      &>div:first-child{
        @include mixin.font(1.8rem, 800, var.$col-1);
      }
      &>div:last-child{
        @include mixin.font(1.2rem, 600);
      }
    }
    &>div:nth-child(3){
      &>div{
        @include mixin.font(0.9rem, 600,var.$col-6);
      }
    }
  }
  
  .mgfp7-mid{
    &>div{
      &>div:first-child{
        @include mixin.container-style(180px,180px,center,center);
  
        &>img{
          @include mixin.size(140px, 140px);
        }
      }
      &>div:last-child{
        @include mixin.container-style(65%,90%, space-around, center,column);
        &>div:nth-child(1){
          &>p{
            @include mixin.font(1rem, 600);
          }
        }
        &>div:nth-child(2){
          @include mixin.font(0.8rem, 500, #6a6a6a);
        }
        &>div:nth-child(3){
          @include mixin.font(0.8rem, 500, #6a6a6a);
          line-height: 2;
          letter-spacing: 1px;
        }
      }
    }
  }

  .mgfp8{
    @include mixin.container-style(600px, 640px,space-between, center, column);
  
    &>div:nth-child(1){
      @include mixin.font(1.5rem,700);
    }
  
    &>div:nth-child(2){
      @include mixin.container-style(95%, 80%, space-between,center,column);
    }
    
    &>div:last-child{
      @include mixin.add-explain(95%,4%,0.9rem);
    }
  }
  
  .mgfp8-ingredient{
    &>div:first-child{
      @include mixin.container-style(100%, 40px, space-between, center);
      &>div{
        @include mixin.container-style(32%, 100%, center, center);
        @include mixin.font(1.2rem, 800);
      }
    }
  
    &>div:last-child{
      @include mixin.container-style(100%, 480px, space-evenly, center,column);
  
      &>div{
        @include mixin.font(0.9rem, 700);
        text-align: center;
      }
  
  
  
      @for $i from 1 through 5{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(100%, 30px, space-around, center);
          &>div{
            @include mixin.container-style(32%, 90%, space-around, center);
          }
        }
      }
  
      @for $i from 6 through 7{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(100%, 40px, space-around, center);
          &>div{
            @include mixin.container-style(32%, 90%, space-around, center);
          }
        }
      }
  
      @for $i from 8 through 9{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(100%, 30px, space-around, center);
          &>div{
            @include mixin.container-style(32%, 90%, space-around, center);
          }
        }
      }
  
      &>div:nth-child(10){
        @include mixin.container-style(100%, 35px, space-around, center);
        &>div{
          @include mixin.container-style(32%, 90%, space-around, center);
        }
      }   
  
      @for $i from 11 through 12{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(100%, 30px, space-around, center);
          &>div{
            @include mixin.container-style(32%, 90%, space-around, center);
          }
        }
      }
    }
  }

  .mgfp9{
    @include mixin.container-style(600px, 1400px,space-evenly, center, column);
    &>div:first-child{
      @include mixin.container-style(92%, 8%, flex-start, center);
      @include mixin.font(1.7rem,800);
      line-height: 2;
    }
  
      &>div:last-child{
      @include mixin.container-style(95%, 84%, space-around,center, column);
      background-color: #F8F9FA;
  
      &>div:nth-child(1){
        @include mixin.container-style(50%, 5%, center, center);
        background-color: #F6F2F6;
        border-radius: 50px;
        box-shadow: 1px 4px 9px rgba(0,0,0,0.25) ;
  
        &>div{
          @include mixin.container-style(45%, 90%, center, center);
          @include mixin.font(1.5rem,800);
        }
      }
  
      @for $i from 2 through 5{
        &>div:nth-child(#{$i}){
          @include mixin.container-style(95%, 20%, space-around, center);
          // border: #036EB7 solid 1px;
  
          &>div:first-child{
            @include mixin.box-style(180px, 180px, var.$col-3, 50%);
            @include mixin.flex(center,center);
            @include mixin.posi(relative,-3%,0,0);
            overflow: hidden;
            // border: #202020 solid 1px;
            &>img{
              @include mixin.size(120px, auto);
            }
          }
  
          &>div:last-child{
            @include mixin.container-style(55%,100%, space-around, center, column);
  
            &>div:first-child{
              @include mixin.container-style(100%,80%,space-around,flex-start,column);
              background-color: #EBE9F1;
              box-shadow: 3px 5px 5px 0px rgba(202, 197, 216, 0.50);
  
              &>div:nth-child(1){
                @include mixin.container-style(90%,15%,flex-start,center);
                @include mixin.font(1.7rem,700, #9C3993);
                padding-left: 10px;
              }
  
              &>div:nth-child(2){
                @include mixin.container-style(100%,60%,flex-start,center);
                @include mixin.font(0.9rem,600);
                padding-left: 10px;
                line-height: 2;
              }
            }
  
            &>div:last-child{
              @include mixin.container-style(100%,15%,flex-start,center);
              // border: #036EB7 solid 1px;
              @include mixin.font(0.8rem,500);
            }
          }
        }
      }
  
    }
  
  }
  
  .mgfp10{
    @include mixin.container-style(600px, 2520px,space-around, center, column);
    &>div:nth-child(1){
      &>div:first-child{
        @include mixin.container-style(100%,10%,center,center);
        &>div:nth-child(2){
          @include mixin.container-style( 45%,100%,center,center);
          @include mixin.font(1.5rem, 800, var.$col-1);
        }
        &>div:last-child{
          @include mixin.font(1.5rem, 800);
        }
      }
    }
    &>div:nth-child(2){
      &>div:nth-child(1){
        @include mixin.font(2rem, 600, var.$col-3);
      }
    }
    &>div:nth-child(3){
      border-bottom: solid 3px var.$col-1;
      &>div:first-child{
        border-top: solid 4px var.$col-1;
        &>img{
          @include mixin.size(110px, auto);
        }
      }
      &>div:last-child{
        border-bottom: solid 2px var.$col-1;
        @include mixin.font(1.1rem,600,var.$col-1);
      }
    }
  }
  
  .mgfp10-top{
    &>div:last-child{
      &>div{
        &>div{
          @include mixin.font(1rem, 600);
          padding-left: 15px;
        }
      }
      &>div:nth-child(1){
        &>div{
          @include mixin.box-style(50%,90%,var.$col-5,20px);
        }
      }
      &>div:nth-child(2){
        &>div{
          @include mixin.box-style(75%,100%,var.$col-3,20px);
        }
      }
      &>div:nth-child(3){
        &>div{
          @include mixin.box-style(55%,90%,var.$col-5,20px);
        }
      }
      &>div:nth-child(4){
        &>div{
          @include mixin.box-style(75%,100%,var.$col-3,20px);
        }
      }
      &>div:nth-child(5){
        &>div{
          @include mixin.box-style(50%,90%,var.$col-5,20px);
        }
      }
      &>div:nth-child(6){
        &>div{
          @include mixin.box-style(75%,100%,var.$col-3,20px);
        }
      }
      &>div:nth-child(7){
        &>div{
          @include mixin.box-style(55%,90%,var.$col-5,20px);
        }
      }
      &>div:nth-child(8){
        @include mixin.container-style(90%,17%,flex-start,center);
        &>div{
          @include mixin.box-style(75%,100%,var.$col-3,20px);
        }
      }
    }
  }
  
  .mgfp10-mid{
    @for $i from 2 through 4{
      &>div:nth-child(#{$i}){
        &>div:first-child{
          &>div:first-child{
            &>div:nth-child(1){
              @include mixin.font(1.5rem, 800);
            }
            &>div:nth-child(2){
              font-size: 0.9rem;
            }
          }
          &>div:last-child{
            @include mixin.font(0.9rem, 500, var.$col-bright-gray);
          }
        }
        &>div:nth-child(2){
          @include mixin.box-style(80%,1%, var.$col-gray);
        }
        &>img{
          @include mixin.size(auto, 95%);
        }
      }
    }
  }
}



