$width-root:100vw;
$height-root:100vh;
$col-bright-gray:#BCB6B7;
$col-gray:#D4D4D4;
$col-mid-gray :#BDBCBC;
$col-dark-gray:#838383;
$col-bg:#E9EDF0;
$col-mid-black:#6C6E70; 
$col-blue:#17438B;
$col-1:#872659;
$col-2: #F7F7F7;
$col-3: #fff;
$col-4: #F4E9EF;
$col-5: #686868;
$col-6: #979797;
$col-7: #A5A4A4;
$col-8: #842858;
$col-9: #F8FFFF;
$col-0: #000;
$col-ream-1:#3B312B;
$col-ream-2:#C5A16C;
$col-ream-3:#261E1B;
$col-ream-4:#CAC3B8;
$col-ream-5:#EEDEC9;
$per-100:100%;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:1px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;
